$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/";

//== Colors
$gray-light:             lighten(#000, 66.5%) !default; // #aaa

$text-color: #dddddd;
$link-color: $text-color;
$link-hover-color: #ffffff;

$component-active-bg: #BB8A30;
$nav-link-hover-bg: #BB8A30;
$nav-pills-active-link-hover-bg: #BB8A30;

$panel-bg:                    #131517;
$panel-footer-bg:             #131517;
$panel-default-heading-bg:    #131517;

@import "bootstrap-sass-official/assets/stylesheets/bootstrap/_mixins";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/_variables";

@import "bootstrap-sass-official/assets/stylesheets/bootstrap/_normalize";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/_scaffolding";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/_grid";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/_media";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/_navs";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/_type";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/_utilities";

@import "components/_panel";
@import "components/_pullrequests";
@import "components/_release";

html, body {
    min-height: 100%;
}

/* Space out content a bit */
body {
    padding: 95px 0 10px 0;
    @include gradient-vertical(#080808, #1A1D21);
    color: $text-color;
    font-size: 16px;
}

.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    background-color: #131517;
    padding: 15px;
    border-bottom: 1px solid #1B1B1B;
    border-top: solid 1px #1F2225;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
    z-index: 1;


    h3 {
        padding-top: 10px;
        margin-top: 0;
        margin-bottom: 0;
        color: $gray-light;
    }
}

.container-narrow > hr {
    margin: 30px 0;
}

.panel-heading {
    color: $component-active-bg;

    a {
        color: inherit;
    }
}

.panel__meta {
    float: right;
}

.avatar {
    width: 40px;
    height: 40px;
}
