$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

//== Colors
$gray-light:             lighten(#000, 66.5%) !default; // #aaa

$text-color: #dddddd;
$link-color: $text-color;
$link-hover-color: #ffffff;

$component-active-bg: #BB8A30;
$nav-link-hover-bg: #BB8A30;
$nav-pills-active-link-hover-bg: #BB8A30;

$panel-bg:                    #131517;
$panel-footer-bg:             #131517;
$panel-default-heading-bg:    #131517;

@import "bootstrap-sass-official/assets/stylesheets/bootstrap/mixins";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/variables";

@import "bootstrap-sass-official/assets/stylesheets/bootstrap/normalize";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/scaffolding";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/grid";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/glyphicons";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/buttons";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/forms";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/input-groups";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/labels";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/media";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/navs";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/type";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/utilities";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/print";

@import "components/_panel";
@import "components/_pullrequests";
@import "components/_release";

html, body {
    min-height: 100%;
}

/* Space out content a bit */
body {
    padding: 95px 0 10px 0;
    @include gradient-vertical(#080808, #1A1D21);
    color: $text-color;
    font-size: 16px;
}

h1, .h1,
h2, .h2,
h3, .h3 {
    margin-top: $line-height-computed / 2;
    margin-bottom: ($line-height-computed / 2);
}

.meta {
    color: #999;
    font-size: 90%;
}

.pull-left {
    float: left;
}
.pull-right {
    float: right;
}

.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    background-color: #131517;
    padding: 15px;
    border-bottom: 1px solid #1B1B1B;
    border-top: solid 1px #1F2225;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
    z-index: 10;

    h3 {
        padding-top: 10px;
        margin-top: 0;
        margin-bottom: 0;
        color: $gray-light;
    }
}

.col-centered {
    margin: 0 auto;
}

.container-narrow > hr {
    margin: 30px 0;
}

.panel-heading {
    color: $component-active-bg;

    a {
        color: inherit;
    }
}

.panel__meta {
    float: right;
}

.repo__version {
    margin-bottom: $padding-large-vertical * 2;
}


.label {
    display: inline;
    padding: .3em .5em;
}

.avatar {
    width: 40px;
    height: 40px;
}

::-moz-selection {
    color: #ffffff;
    background-color: $component-active-bg;
}

::selection {
    color: #ffffff;
    background-color: $component-active-bg;
}


.ticket {
    position: relative;
    height: 300px;
    background-color: #FFFFFF;
    padding: 15px 15px 45px 15px;
    border: 6px solid;
    margin-bottom: 24px;
    overflow: hidden;

    color: #333;
    font-size: 100%;
}
.ticket--bug {
    border-color: red;
}
.ticket--feature {
    border-color: green;
}
.ticket__title {
    margin-top: 0;
    font-size: 130%;
    line-height: 1.3;
}
.ticket__labels {
    font-size: 80%;
}
.ticket__description {
    max-height: 138px;
    margin: 10px 0;
    overflow: hidden;
    font-size: 90%;
    white-space: pre-wrap;
}
.ticket__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
}
.tickets-search {
    margin-bottom: 24px;
}


@media print {
    @page {
        size: A4;
        margin: 0;
    }

    html, body {
        width: 210mm;
        height: 297mm;
        padding: 10px 0;
        font-size: 11px;
    }

    .header,
    .no-print {
        display: none;
    }

    .ticket {
        height: 255px;
        padding: 10px 10px 5px 10px;
    }
}
