$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/";

//== Colors
$gray-darker:            lighten(#000, 13.5%) !default; // #222
$gray-dark:              lighten(#000, 20%)   !default; // #333
$gray:                   lighten(#000, 33.5%) !default; // #555
$gray-light:             lighten(#000, 66.5%) !default; // #aaa
$gray-lighter:           lighten(#000, 93.5%) !default; // #eee

$brand-primary:         #428bca !default;
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

$text-color: #dddddd;
$link-color: $text-color;
$link-hover-color: darken($link-color, 12%);

$panel-bg:                    #131517;
$panel-footer-bg:             #131517;
$panel-default-heading-bg:    #131517;

$panel-default-text:          $gray-light;
$panel-default-border:        #ddd;
$panel-default-heading-bg:    $panel-bg;

$panel-primary-text:          #ffffff;
$panel-primary-border:        $panel-bg;
$panel-primary-heading-bg:    $panel-bg;

@import "bootstrap-sass-official/assets/stylesheets/bootstrap";

@import "components/_panel";

html, body {
    min-height: 100%;
}

/* Space out content a bit */
body {
    padding: 95px 0 10px 0;
    @include gradient-vertical(#080808, #1A1D21);
    color: $text-color;
    font-size: 16px;
}

.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    background-color: #131517;
    padding: 15px;
    border-bottom: 1px solid #1B1B1B;
    border-top: solid 1px #1F2225;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
    z-index: 1;


    h3 {
        padding-top: 10px;
        margin-top: 0;
        margin-bottom: 0;
        color: $gray-light;
    }
}

.container-narrow > hr {
    margin: 30px 0;
}

.panel-heading {
    color: $component-active-bg;

    a {
        color: inherit;
    }
}

.panel__meta {
    float: right;
}

.avatar {
    width: 40px;
    height: 40px;
}
